.main{
    display: flex;
    /*flex-direction: column;*/
    flex-wrap: wrap;
    align-items:flex-end;
    /* justify-content: space-around; 
    justify-content: space-between;
    justify-content: center;*/
    width: 1200px;
}
.box1{
    height:200px;
    width:230px;
    background-color:  rgb(236, 228, 228);
    margin : 10px;
    margin-top : -10px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 15px;
    border:2px solid;
}
.box2{
    height:200px;
    width:230px;
    background-color:  rgb(236, 228, 228);
    margin : 10px;
    margin-top : -10px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 15px;
    border:2px solid;
        }
.box3{
    height:200px;
    width:230px;
    background-color:  rgb(236, 228, 228);
    margin : 10px;
    margin-top : -10px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 15px;
    border:2px solid;
}
p{
    margin-top: -25px;
}
.button1{
    margin-top:16px;
    color:rgb(0, 0, 0);
    background-color: rgb(38, 185, 1);
}
.button2{
    color:rgb(0, 0, 0);
    background-color: rgb(38, 185, 1);
}
.button3{
    margin-top:20px;
    color:rgb(0, 0, 0);
    background-color: rgb(38, 185, 1);
}